body {
    margin: 0;
    font-family: 'Rubik', sans-serif;

}

#header {
    background-image: url("images/donation9.jpg");
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    height: 600px;
    background-size: cover;
    margin-top: 0;
}

.header-div {
    width: 60%;
    margin: -50px 17%;
}

#header h1 {
    font-size: 60px;
    color: white;
    padding-top: 100px;
    font-weight: bold;
}

#header h4 {
    font-size: 20px;
    color: white;
    font-weight: 100;
    margin-bottom: 50px;
}

#header a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(236, 45, 45);
    padding: 10px 20px;
    border-radius: 10px;

}

.donate-header {
    text-align: center;
    margin-bottom: 60px;
}

.donate-header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}

.donate-header p {
    font-weight: 500;
    color: #636e72
}

.donate-total {
    text-align: center;
}

.list2 {
    background-color: rgb(243, 137, 111);
    padding: 20px 20px;
    color: red;
    border: 2px solid red;

}

.donate-total ul {
    margin-bottom: 40px;
}

.donate-total ul li {
    font-weight: 800;
    font-size: 30px;
    list-style: none;
    display: inline;
    margin: 10px 50px;
    color: #636e72
}

.input {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}


.input_style {
    height: 32px;
    width: 450px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;

}

.input-btn {
    text-align: center;
    margin-top: -50px;
}

.input-btn a {

    font-size: 30px;
    color: white;
    text-decoration: none;
    background-color: rgb(236, 45, 45);
    padding: 10px 20px;
    border-radius: 10px;


}

#donate-plan {
    margin-top: 100px;
}

.plan-type {
    display: flex;
    margin: 0 5%;
}


.plan {
    height: 300px;
    width: 350px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}


.plan img {
    padding: 40px 20px 0 20px;
}

.plan h1 {
    padding: 20px 20px 0 20px;
}

.plan p {
    padding: 20px 20px 0 20px;
    color: #636e72
}

#food {
    background-color: #d7f5f5;
}

#shelter {

    background-color: rgb(250, 203, 203);

}

#education {

    background-color: rgb(214, 154, 201);

}

#icon {
    height: 40px;
    width: 50px;
}

.first-news {
    display: flex;
    margin-top: 40px;
    width: 70%;
    margin-left: 7%;
    margin-bottom: 50px;


}

.news-img {
    margin-left: 40px;
}

.n-img {
    height: 350px;
    width: 450px;
    border-radius: 10px;
}

.news-width h1 {
    font-size: 50px;
}

.news-width p {
    margin-bottom: 30px;
    color: #2d3436;
}

.news-width a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 30px;
}

.second-news {
    display: flex;
    margin-top: 40px;
    width: 70%;
    margin-left: 4%;
    margin-bottom: 50px;


}

.news-headline2 {
    margin-left: 40px;
}